<html>
    <body>
        <form method="GET" action="/">
            <a>Get shop</a>
            <input type="text" name="id">
            <input type="submit" value="Get">
        </form>
        <form method="GET" action="/">
            <a>Get line item</a>
            <input type="text" name="id">
            <input type="submit" value="Get">
        </form>
        <form method="GET" action="/">
            <a>Get product</a>
            <input type="text" name="id">
            <input type="submit" value="Get">
        </form>
        <form method="GET" action="/">
            <a>Get order</a>
            <input type="text" name="id">
            <input type="submit" value="Get">
        </form>
        
    </body>
</html>